{{- template "header" . -}}
{{- template "examples" . -}}
{{- template "requirements" . -}}
{{- template "providers" . -}}
{{- template "modules" . -}}
{{- template "resources" . -}}
{{- template "inputs" . -}}
{{- template "outputs" . -}}
{{- template "footer" . -}}