{{- if .Config.Sections.Providers -}}
    {{- if not .Module.Providers -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Providers

            No providers.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Providers

        | Name | Version |
        |------|---------|
        {{- range .Module.Providers }}
            | {{ anchorNameMarkdown "provider" .FullName }} | {{ tostring .Version | default "n/a" }} |
        {{- end }}
    {{ end }}
{{ end -}}