{{- if or .Config.Sections.Resources .Config.Sections.DataSources -}}
    {{- $resources := visibleResources .Module.Resources -}}
    {{- if not $resources -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Resources{{ if .Config.Settings.AtxClosed }} {{ indent 0 "#" }}{{ end }}

            No resources.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Resources{{ if .Config.Settings.AtxClosed }} {{ indent 0 "#" }}{{ end }}

        The following resources are used by this module:
        {{ range $resources }}
            {{- $fullspec := ternary .URL (printf "[%s](%s)" .Spec .URL) .Spec }}
            - {{ $fullspec }} {{ printf "(%s)" .GetMode -}}
        {{- end }}
    {{ end }}
{{ end -}}
