{{- if .Settings.ShowModuleCalls -}}
    {{ indent 0 "=" }} Modules
    {{ if not .Module.ModuleCalls }}
        No modules.
    {{ else }}
        [cols="a,a,a",options="header,autowidth"]
        |===
        |Name |Source |Version
        {{- range .Module.ModuleCalls }}
            |{{ anchorNameAsciidoc "module" .Name }} |{{ .Source }} |{{ .Version }}
        {{- end }}
        |===
    {{ end }}
{{ end -}}