{{- if .Settings.ShowHeader -}}
    {{- with .Module.Header -}}
        {{ sanitizeHeader . }}
        {{ printf "\n" }}
    {{- end -}}
{{ end -}}

{{- if .Settings.ShowRequirements -}}
    {{ indent 0 "=" }} Requirements
    {{ if not .Module.Requirements }}
        No requirements.
    {{ else }}
        The following requirements are needed by this module:
        {{- range .Module.Requirements }}
            {{ $version := ternary (tostring .Version) (printf " (%s)" .Version) "" }}
            - {{ anchorNameAsciidoc "requirement" .Name }}{{ $version }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Settings.ShowProviders -}}
    {{ indent 0 "=" }} Providers
    {{ if not .Module.Providers }}
        No providers.
    {{ else }}
        The following providers are used by this module:
        {{- range .Module.Providers }}
            {{ $version := ternary (tostring .Version) (printf " (%s)" .Version) "" }}
            - {{ anchorNameAsciidoc "provider" .FullName }}{{ $version }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Settings.ShowModuleCalls -}}
    {{ indent 0 "=" }} Modules
    {{ if not .Module.ModuleCalls }}
        No modules.
    {{ else }}
        The following Modules are called:
        {{- range .Module.ModuleCalls }}

            {{ indent 1 "=" }} {{ anchorNameAsciidoc "module" .Name }}

            Source: {{ .Source }}

            Version: {{ .Version }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Settings.ShowResources -}}
    {{ indent 0 "=" }} Resources
    {{ if not .Module.Resources }}
        No resources.
    {{ else }}
        The following resources are used by this module:
        {{ range .Module.Resources }}
            {{ if eq (len .URL) 0 }}
            - {{ .Spec }} {{ printf "(%s)" .GetMode -}}
            {{- else -}}
            - {{ .URL }}[{{ .Spec }}] {{ printf "(%s)" .GetMode -}}
            {{- end }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Settings.ShowInputs -}}
    {{- if .Settings.ShowRequired -}}
        {{ indent 0 "=" }} Required Inputs
        {{ if not .Module.RequiredInputs }}
            No required inputs.
        {{ else }}
            The following input variables are required:
            {{- range .Module.RequiredInputs }}
                {{ printf "\n" }}
                {{ indent 1 "=" }} {{ anchorNameAsciidoc "input" .Name }}

                Description: {{ tostring .Description | sanitizeDoc }}

                {{ if $.Settings.ShowType -}}
                    Type: {{ tostring .Type | type }}
                {{- end }}

                {{ if $.Settings.ShowDefault }}
                    {{ if or .HasDefault (not isRequired) }}
                        Default: {{ default "n/a" .GetValue | value }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
        {{ indent 0 "=" }} Optional Inputs
        {{ if not .Module.OptionalInputs }}
            No optional inputs.
        {{ else }}
            The following input variables are optional (have default values):
            {{- range .Module.OptionalInputs }}
                {{ printf "\n" }}
                {{ indent 1 "=" }} {{ anchorNameAsciidoc "input" .Name }}

                Description: {{ tostring .Description | sanitizeDoc }}

                {{ if $.Settings.ShowType -}}
                    Type: {{ tostring .Type | type }}
                {{- end }}

                {{ if $.Settings.ShowDefault }}
                    {{ if or .HasDefault (not isRequired) }}
                        Default: {{ default "n/a" .GetValue | value }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{ end }}
    {{ else -}}
        {{ indent 0 "=" }} Inputs
        {{ if not .Module.Inputs }}
            No inputs.
        {{ else }}
            The following input variables are supported:
            {{- range .Module.Inputs }}
                {{ printf "\n" }}
                {{ indent 1 "=" }} {{ anchorNameAsciidoc "input" .Name }}

                Description: {{ tostring .Description | sanitizeDoc }}

                {{ if $.Settings.ShowType -}}
                    Type: {{ tostring .Type | type }}
                {{- end }}

                {{ if $.Settings.ShowDefault }}
                    {{ if or .HasDefault (not isRequired) }}
                        Default: {{ default "n/a" .GetValue | value }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{ end }}
    {{- end }}
{{ end -}}

{{- if .Settings.ShowOutputs -}}
    {{ indent 0 "=" }} Outputs
    {{ if not .Module.Outputs }}
        No outputs.
    {{ else }}
        The following outputs are exported:
        {{- range .Module.Outputs }}

            {{ indent 1 "=" }} {{ anchorNameAsciidoc "output" .Name }}

            Description: {{ tostring .Description | sanitizeDoc }}

            {{ if $.Settings.OutputValues }}
                {{- $sensitive := ternary .Sensitive "<sensitive>" .GetValue -}}
                Value: {{ value $sensitive | sanitizeDoc }}

                {{ if $.Settings.ShowSensitivity -}}
                    Sensitive: {{ ternary (.Sensitive) "yes" "no" }}
                {{- end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end -}}