{{- if or .Settings.ShowResources .Settings.ShowDataSources -}}
    {{ indent 0 "=" }} Resources
    {{ if not .Module.Resources }}
        No resources.
    {{ else }}
        [cols="a,a",options="header,autowidth"]
        |===
        |Name |Type
        {{- range .Module.Resources }}
            {{- $isResource := and $.Settings.ShowResources ( eq "resource" (printf "%s" .GetMode)) }}
            {{- $isDataResource := and $.Settings.ShowDataSources ( eq "data source" (printf "%s" .GetMode)) }}
            {{- if or $isResource $isDataResource }}
                {{- $fullspec := ternary .URL (printf "%s[%s]" .URL .Spec) .Spec }}
                |{{ $fullspec }} |{{ .GetMode }}
            {{- end }}
        {{- end }}
        |===
    {{ end }}
{{ end -}}