{{- if .Settings.ShowProviders -}}
    {{ indent 0 "=" }} Providers
    {{ if not .Module.Providers }}
        No providers.
    {{ else }}
        [cols="a,a",options="header,autowidth"]
        |===
        |Name |Version
        {{- range .Module.Providers }}
            |{{ anchorNameAsciidoc "provider" .FullName }} |{{ tostring .Version | default "n/a" }}
        {{- end }}
        |===
    {{ end }}
{{ end -}}