{{- if .Settings.ShowModuleCalls -}}
    {{ indent 0 "#" }} Modules
    {{ if not .Module.ModuleCalls }}
        No modules.
    {{ else }}
        | Name | Source | Version |
        |------|--------|---------|
        {{- range .Module.ModuleCalls }}
            | {{ anchorNameMarkdown "module" .Name }} | {{ .Source }} | {{ .Version | default "n/a" }} |
        {{- end }}
    {{ end }}
{{ end -}}