{{- if .Settings.ShowOutputs -}}
    {{ indent 0 "#" }} Outputs
    {{ if not .Module.Outputs }}
        No outputs.
    {{ else }}
        | Name | Description |{{ if .Settings.OutputValues }} Value |{{ if $.Settings.ShowSensitivity }} Sensitive |{{ end }}{{ end }}
        |------|-------------|{{ if .Settings.OutputValues }}-------|{{ if $.Settings.ShowSensitivity }}:---------:|{{ end }}{{ end }}
        {{- range .Module.Outputs }}
            | {{ anchorNameMarkdown "output" .Name }} | {{ tostring .Description | sanitizeMarkdownTbl }} |
            {{- if $.Settings.OutputValues -}}
                {{- $sensitive := ternary .Sensitive "<sensitive>" .GetValue -}}
                {{ printf " " }}{{ value $sensitive | sanitizeMarkdownTbl }} |
                {{- if $.Settings.ShowSensitivity -}}
                    {{ printf " " }}{{ ternary .Sensitive "yes" "no" }} |
                {{- end -}}
            {{- end -}}
        {{- end }}
    {{ end }}
{{ end -}}